html
    head
        title Almacén
        link(rel="stylesheet" type="text/css" href="styles.css")
    body
        header.header
            img.logo_header(src='shopping-cart-icon.png' alt='logo header')
            nav.botonera
                a.boton_a(href="/") Home
                a.boton_a(href="/empresas") Empresas proveedoras
                a.boton_a(href="/alimentos") Alimentos
                a.boton_a(href="/clientes") Clientes
                a.boton_a(href="/paises") Paises
        div.main
            div.contenedor_tabla
                h2 Alimentos
                nav.botonera_top_tabla
                    button.boton_b#btnAnadirAlimento Añadir Alimento
                    button.boton_b#btnEditarAlimento Editar Alimento
                table
                    thead
                        tr
                            td ID
                            td Nombre
                            td Precio
                            td Fecha de caducidad
                            td Empresa proveedora
                            td Acciones
                    each alimento in alimentos
                        tr.tr_not_thead
                            td= `${alimento.Id}`
                            td= `${alimento.Nombre}`
                            td= `${alimento.Precio}`
                            td= `${alimento.FechaCaducidad}`
                            td= `${alimento.EmpresaId}`
                            td
                                a.accion_button_borrar(href=`/remover_alimento/${alimento.Id}`) 🗑️ Borrar
        script(src="funcionalidades.js")